flask
flask-cors
supabase
python-dotenv
opencv-python
face_recognition
dlib
numpy
Pillow
bcrypt
PyJWT

# Flask
# flask-cors
# gunicorn
# supabase
# python-dotenv
# opencv-python-headless
# numpy
# Pillow
# bcrypt
# PyJWT